In [3]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(10, 2)*100)
df

NameError: name 'pd' is not defined

In [2]:
df.style.format("{:.2f}")

In [3]:
def highlight_number(row):
    return [
        'background-color: red; color: white' if cell <= 0
        else 'background-color: green; color: white'
        for cell in row
    ]
df.style.apply(highlight_number)

In [4]:
df.style\
    .apply(highlight_number)\
    .format('${0:,.2f}')\
    .set_caption('A sample table')\
    .set_properties(padding='20px', border='2px solid white')

In [8]:
df.at[1,1] = None
df.style\
    .highlight_null('lightgray')\
    .highlight_max(color='lightgreen')\
    .highlight_min(color='pink')

In [4]:
df = pd.DataFrame(np.random.randn(10, 2))
df.style \
  .background_gradient(cmap='BuPu')

In [6]:
df.style.bar()

In [10]:
df.style \
  .format('{:.2f}') \
  .bar(align='mid', color=['green', 'red']) \
  .set_caption('A Sample Table with Bar Chart') \
  .set_properties(padding="15px", border='2px solid white', width='300px')

In [31]:
from sparklines import sparklines

df = pd.DataFrame({
    'a': np.random.normal(0, 1, 100),
    'b': np.random.normal(1, 1, 100),
    'c': np.random.normal(0, 3, 100)
})
df

           a         b         c
0  -0.113149  0.810746 -4.665710
1   0.304098  1.580942 -2.031919
2  -0.000673  1.787366  6.092431
3   0.881016  2.319849  1.897572
4   0.931794  0.927859 -0.543144
..       ...       ...       ...
95 -1.248945  1.072761 -5.124447
96  0.231500  2.982270 -0.467390
97 -0.632026  0.588704  5.601598
98  1.406059  2.826396  1.840819
99  1.471174  0.036605 -0.632153

[100 rows x 3 columns]

In [34]:
def sparkline_dist(data):
    hist = np.histogram(data, bins=10)[0]
    dist_strings = ''.join(sparklines(hist))
    return dist_strings

sl_list = [sparkline_dist(df[col]) for col in df.columns]
sl_list

['▆█▄▆▇▇▁▃▂▁', '▁▂▃▆▅▇█▃▂▁', '▂▅▃▄█▆▇▃▄▁']

In [35]:
df_stats = df.agg(['mean', 'std']).transpose()
df_stats['histogram'] = sl_list
df_stats.style \
  .format('{:.2f}', subset=['mean', 'std']) \
  .set_caption('A Sample Table with Sparklines Distributions') \
  .set_properties(padding="15px", border='2px solid white')