In [1]:
import pandas as pd
import numpy as np
from IPython import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [2]:
dates = pd.date_range('20210901', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2021-09-01 -0.211009  0.141402  0.681121  0.034482
2021-09-02  0.063894  1.295844  0.584428 -1.097065
2021-09-03  0.022765 -0.445726  0.440389  1.002473
2021-09-04 -0.781289  0.411584  0.134543 -1.000183
2021-09-05 -0.254093  0.982151 -0.295595 -0.866178
2021-09-06 -0.645282 -1.069452  0.303881  0.924162

In [22]:
cols = list(df.columns) + ['E']
cols
df1 = df.reindex(index=dates[0:4], columns=cols)
df1
df1.loc[dates[0]:dates[1], 'E'] = 3
df1
# 类型一致
df1.loc[pd.to_datetime('20210907')] = [np.nan] * len(df1.columns)
df1

['A', 'B', 'C', 'D', 'E']

                   A         B         C         D   E
2021-09-01 -0.211009  0.141402  0.681121  0.034482 NaN
2021-09-02  0.063894  1.295844  0.584428 -1.097065 NaN
2021-09-03  0.022765 -0.445726  0.440389  1.002473 NaN
2021-09-04 -0.781289  0.411584  0.134543 -1.000183 NaN

                   A         B         C         D    E
2021-09-01 -0.211009  0.141402  0.681121  0.034482  3.0
2021-09-02  0.063894  1.295844  0.584428 -1.097065  3.0
2021-09-03  0.022765 -0.445726  0.440389  1.002473  NaN
2021-09-04 -0.781289  0.411584  0.134543 -1.000183  NaN

                   A         B         C         D    E
2021-09-01 -0.211009  0.141402  0.681121  0.034482  3.0
2021-09-02  0.063894  1.295844  0.584428 -1.097065  3.0
2021-09-03  0.022765 -0.445726  0.440389  1.002473  NaN
2021-09-04 -0.781289  0.411584  0.134543 -1.000183  NaN
2021-09-07       NaN       NaN       NaN       NaN  NaN

In [6]:
df1.dropna(how='any')

                            A         B         C         D    E
2021-09-01 00:00:00 -0.211009  0.141402  0.681121  0.034482  3.0
2021-09-02 00:00:00  0.063894  1.295844  0.584428 -1.097065  3.0

In [7]:
df1.dropna(how='all')

                            A         B         C         D    E
2021-09-01 00:00:00 -0.211009  0.141402  0.681121  0.034482  3.0
2021-09-02 00:00:00  0.063894  1.295844  0.584428 -1.097065  3.0
2021-09-03 00:00:00  0.022765 -0.445726  0.440389  1.002473  NaN
2021-09-04 00:00:00 -0.781289  0.411584  0.134543 -1.000183  NaN

In [12]:
df1.loc[:,['E']].dropna()

                       E
2021-09-01 00:00:00  3.0
2021-09-02 00:00:00  3.0

In [21]:
df1.loc['2021-09-03'].dropna()

A    0.022765
B   -0.445726
C    0.440389
D    1.002473
Name: 2021-09-03 00:00:00, dtype: float64

In [23]:
df1.fillna(9)

                   A         B         C         D    E
2021-09-01 -0.211009  0.141402  0.681121  0.034482  3.0
2021-09-02  0.063894  1.295844  0.584428 -1.097065  3.0
2021-09-03  0.022765 -0.445726  0.440389  1.002473  9.0
2021-09-04 -0.781289  0.411584  0.134543 -1.000183  9.0
2021-09-07  9.000000  9.000000  9.000000  9.000000  9.0

In [25]:
df1.loc[:,['E']].fillna(9)

              E
2021-09-01  3.0
2021-09-02  3.0
2021-09-03  9.0
2021-09-04  9.0
2021-09-07  9.0

In [26]:
df1.loc['2021-09-07'].fillna(9)

A    9.0
B    9.0
C    9.0
D    9.0
E    9.0
Name: 2021-09-07 00:00:00, dtype: float64

In [27]:
pd.isna(df1)

                A      B      C      D      E
2021-09-01  False  False  False  False  False
2021-09-02  False  False  False  False  False
2021-09-03  False  False  False  False   True
2021-09-04  False  False  False  False   True
2021-09-07   True   True   True   True   True

In [33]:
namask = df1['E'].isna()
type(namask)
namask.dtypes

pandas.core.series.Series

dtype('bool')

In [34]:
namask = df1.loc['2021-09-01':'2021-09-03'].isna()
type(namask)
namask.dtypes

pandas.core.frame.DataFrame

A    bool
B    bool
C    bool
D    bool
E    bool
dtype: object