In [55]:
import pandas as pd
import numpy as np
from IPython import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"
%matplotlib auto

print(np.__version__)
print(pd.__version__)

Using matplotlib backend: Qt5Agg
1.20.2
1.2.4

In [56]:
temp = np.random.randint(0,100,20)
df1 = pd.DataFrame(temp)
df1

     0
0   40
1    4
2   76
3   59
4   70
5   30
6   95
7   67
8   90
9   99
10  71
11  54
12  67
13  91
14  52
15  67
16  24
17  12
18   7
19  21

In [57]:
temp = np.arange(0, 100, 5)
df2 = pd.DataFrame(temp)
df2

     0
0    0
1    5
2   10
3   15
4   20
5   25
6   30
7   35
8   40
9   45
10  50
11  55
12  60
13  65
14  70
15  75
16  80
17  85
18  90
19  95

In [58]:
temp = np.random.normal(0, 1, 20)
df3 = pd.DataFrame(temp)
df3

           0
0  -0.499296
1  -0.048570
2  -1.712305
3   0.096654
4  -0.579066
5  -0.313737
6  -0.239709
7   2.131790
8  -1.248719
9   1.311605
10 -0.490603
11 -0.158415
12 -0.699534
13  2.434972
14 -1.603902
15 -0.827095
16 -1.108721
17 -0.101006
18 -0.143591
19  0.673169

In [59]:
df = pd.concat([df1,df2,df3], axis=0, ignore_index=True)
df

            0
0   40.000000
1    4.000000
2   76.000000
3   59.000000
4   70.000000
5   30.000000
6   95.000000
7   67.000000
8   90.000000
9   99.000000
10  71.000000
11  54.000000
12  67.000000
13  91.000000
14  52.000000
15  67.000000
16  24.000000
17  12.000000
18   7.000000
19  21.000000
20   0.000000
21   5.000000
22  10.000000
23  15.000000
24  20.000000
25  25.000000
26  30.000000
27  35.000000
28  40.000000
29  45.000000
30  50.000000
31  55.000000
32  60.000000
33  65.000000
34  70.000000
35  75.000000
36  80.000000
37  85.000000
38  90.000000
39  95.000000
40  -0.499296
41  -0.048570
42  -1.712305
43   0.096654
44  -0.579066
45  -0.313737
46  -0.239709
47   2.131790
48  -1.248719
49   1.311605
50  -0.490603
51  -0.158415
52  -0.699534
53   2.434972
54  -1.603902
55  -0.827095
56  -1.108721
57  -0.101006
58  -0.143591
59   0.673169

In [60]:
df=pd.concat([df1,df2,df3], axis=1, ignore_index=True)
df

     0   1         2
0   40   0 -0.499296
1    4   5 -0.048570
2   76  10 -1.712305
3   59  15  0.096654
4   70  20 -0.579066
5   30  25 -0.313737
6   95  30 -0.239709
7   67  35  2.131790
8   90  40 -1.248719
9   99  45  1.311605
10  71  50 -0.490603
11  54  55 -0.158415
12  67  60 -0.699534
13  91  65  2.434972
14  52  70 -1.603902
15  67  75 -0.827095
16  24  80 -1.108721
17  12  85 -0.101006
18   7  90 -0.143591
19  21  95  0.673169

In [61]:
print(np.percentile(df, q=[0, 25, 50, 75, 100]))

[-1.71230502e+00 -1.21426117e-02  2.45000000e+01  6.70000000e+01
  9.90000000e+01]

In [62]:
df.columns = ['col1', 'col2', 'col3']
df

    col1  col2      col3
0     40     0 -0.499296
1      4     5 -0.048570
2     76    10 -1.712305
3     59    15  0.096654
4     70    20 -0.579066
5     30    25 -0.313737
6     95    30 -0.239709
7     67    35  2.131790
8     90    40 -1.248719
9     99    45  1.311605
10    71    50 -0.490603
11    54    55 -0.158415
12    67    60 -0.699534
13    91    65  2.434972
14    52    70 -1.603902
15    67    75 -0.827095
16    24    80 -1.108721
17    12    85 -0.101006
18     7    90 -0.143591
19    21    95  0.673169

In [63]:
df['col1'][~df['col1'].isin(df['col2'])]

1      4
2     76
3     59
7     67
9     99
10    71
11    54
12    67
13    91
14    52
15    67
16    24
17    12
18     7
19    21
Name: col1, dtype: int32

In [64]:
temp = df['col1'].append(df['col2'])
temp.value_counts().index[:3]

Int64Index([67, 90, 30], dtype='int64')

In [65]:
idx = np.where(df['col1'] % 5 == 0)
df.loc[idx, 'col1']

np.argwhere(df['col1'].values % 5 == 0)

0    40
4    70
5    30
6    95
8    90
Name: col1, dtype: int32

array([[0],
       [4],
       [5],
       [6],
       [8]], dtype=int64)

In [66]:
df['col1'].diff()

0      NaN
1    -36.0
2     72.0
3    -17.0
4     11.0
5    -40.0
6     65.0
7    -28.0
8     23.0
9      9.0
10   -28.0
11   -17.0
12    13.0
13    24.0
14   -39.0
15    15.0
16   -43.0
17   -12.0
18    -5.0
19    14.0
Name: col1, dtype: float64

In [67]:
df.tail()
df.iloc[::-1,:]

    col1  col2      col3
15    67    75 -0.827095
16    24    80 -1.108721
17    12    85 -0.101006
18     7    90 -0.143591
19    21    95  0.673169

    col1  col2      col3
19    21    95  0.673169
18     7    90 -0.143591
17    12    85 -0.101006
16    24    80 -1.108721
15    67    75 -0.827095
14    52    70 -1.603902
13    91    65  2.434972
12    67    60 -0.699534
11    54    55 -0.158415
10    71    50 -0.490603
9     99    45  1.311605
8     90    40 -1.248719
7     67    35  2.131790
6     95    30 -0.239709
5     30    25 -0.313737
4     70    20 -0.579066
3     59    15  0.096654
2     76    10 -1.712305
1      4     5 -0.048570
0     40     0 -0.499296

In [68]:
df.loc[[1,10,15],'col1']
df.iloc[[1,10,15],0]

1      4
10    71
15    67
Name: col1, dtype: int32

1      4
10    71
15    67
Name: col1, dtype: int32

In [69]:
temp = np.diff(np.sign(np.diff(df['col1'])))
np.where(temp==-2)[0] + 1

#备注 即比它前一个与后一个数字的都大的数字
c1 = df['col1'].diff()
c2 = np.sign(df['col1'].diff())
c3 = np.sign(df['col1'].diff()).diff()

df1 = pd.DataFrame([df['col1'],c1,c2,c3])
df1

array([ 2,  4,  6,  9, 13, 15], dtype=int64)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
col1,40.0,4.0,76.0,59.0,70.0,30.0,95.0,67.0,90.0,99.0,71.0,54.0,67.0,91.0,52.0,67.0,24.0,12.0,7.0,21.0
col1,NaN,-36.0,72.0,-17.0,11.0,-40.0,65.0,-28.0,23.0,9.0,-28.0,-17.0,13.0,24.0,-39.0,15.0,-43.0,-12.0,-5.0,14.0
col1,NaN,-1.0,1.0,-1.0,1.0,-1.0,1.0,-1.0,1.0,1.0,-1.0,-1.0,1.0,1.0,-1.0,1.0,-1.0,-1.0,-1.0,1.0
col1,NaN,NaN,2.0,-2.0,2.0,-2.0,2.0,-2.0,2.0,0.0,-2.0,0.0,2.0,0.0,-2.0,2.0,-2.0,0.0,0.0,2.0

In [70]:
df.mean(axis=1)

0     13.166901
1      2.983810
2     28.095898
3     24.698885
4     29.806978
5     18.228754
6     41.586764
7     34.710597
8     42.917094
9     48.437202
10    40.169799
11    36.280528
12    42.100155
13    52.811657
14    40.132033
15    47.057635
16    34.297093
17    32.299665
18    32.285470
19    38.891056
dtype: float64

In [71]:
df.sort_values('col3', inplace=True)
df

    col1  col2      col3
2     76    10 -1.712305
14    52    70 -1.603902
8     90    40 -1.248719
16    24    80 -1.108721
15    67    75 -0.827095
12    67    60 -0.699534
4     70    20 -0.579066
0     40     0 -0.499296
10    71    50 -0.490603
5     30    25 -0.313737
6     95    30 -0.239709
11    54    55 -0.158415
18     7    90 -0.143591
17    12    85 -0.101006
1      4     5 -0.048570
3     59    15  0.096654
19    21    95  0.673169
9     99    45  1.311605
7     67    35  2.131790
13    91    65  2.434972

In [72]:
df.col1[df.col1>50] = '高'
df

<ipython-input-72-b2e3c6705537>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.col1[df.col1>50] = '高'

   col1  col2      col3
2     高    10 -1.712305
14    高    70 -1.603902
8     高    40 -1.248719
16   24    80 -1.108721
15    高    75 -0.827095
12    高    60 -0.699534
4     高    20 -0.579066
0    40     0 -0.499296
10    高    50 -0.490603
5    30    25 -0.313737
6     高    30 -0.239709
11    高    55 -0.158415
18    7    90 -0.143591
17   12    85 -0.101006
1     4     5 -0.048570
3     高    15  0.096654
19   21    95  0.673169
9     高    45  1.311605
7     高    35  2.131790
13    高    65  2.434972