In [1]:
import os

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np

from util.ConstUtil import DATA_PATH

In [2]:
data = {"grammer":["Python","C","Java","GO",np.nan,"SQL","PHP","Python"],
       "score":[1,2,np.nan,4,5,6,7,10]}

data['grammer']
data['score']

['Python', 'C', 'Java', 'GO', nan, 'SQL', 'PHP', 'Python']

[1, 2, nan, 4, 5, 6, 7, 10]

In [3]:
df = pd.DataFrame(data)
df

  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0

In [4]:
df[df['grammer']=='Python']

results = df['grammer'].str.contains("Python")
results.fillna(value=False, inplace=True)
df[results]

  grammer  score
0  Python    1.0
7  Python   10.0

  grammer  score
0  Python    1.0
7  Python   10.0

In [5]:
df.columns

df = df.rename(columns={'score':'popularity'})
df.columns

Index(['grammer', 'score'], dtype='object')

Index(['grammer', 'popularity'], dtype='object')

In [6]:
df['grammer'].value_counts()

Python    2
SQL       1
Java      1
PHP       1
C         1
GO        1
Name: grammer, dtype: int64

In [7]:
df['popularity'].interpolate()
df['popularity'] = df['popularity'].fillna(df['popularity'].interpolate())
df

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7    10.0
Name: popularity, dtype: float64

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         3.0
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [8]:
df[df['popularity']>3]

  grammer  popularity
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [9]:
df.drop_duplicates(['grammer'])

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         3.0
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0

In [10]:
df['popularity'].mean()

4.75

In [11]:
df['grammer'].tolist()

['Python', 'C', 'Java', 'GO', nan, 'SQL', 'PHP', 'Python']

In [12]:
fpath = os.path.join(DATA_PATH, 'test.xlsx')
fpath
# writer = pd.ExcelWriter(fpath, engine='xlsxwriter')
# df.to_excel(writer)
df.to_excel(fpath)

'D:\\study\\BestPractice\\data\\test.xlsx'

In [15]:
df[(df['popularity']>3) & (df['popularity']<7)]

  grammer  popularity
3      GO         4.0
4     NaN         5.0
5     SQL         6.0

In [18]:
df = df[['popularity','grammer']]
df

   popularity grammer
0         1.0  Python
1         2.0       C
2         3.0    Java
3         4.0      GO
4         5.0     NaN
5         6.0     SQL
6         7.0     PHP
7        10.0  Python

In [20]:
df[df['popularity']==df['popularity'].max()]

   popularity grammer
7        10.0  Python

In [23]:
df.head()
df.tail()
df.describe()

   popularity grammer
0         1.0  Python
1         2.0       C
2         3.0    Java
3         4.0      GO
4         5.0     NaN

   popularity grammer
3         4.0      GO
4         5.0     NaN
5         6.0     SQL
6         7.0     PHP
7        10.0  Python

       popularity
count    8.000000
mean     4.750000
std      2.915476
min      1.000000
25%      2.750000
50%      4.500000
75%      6.250000
max     10.000000

In [ ]:
df.drop([len(df)-1], inplace=True)
df

In [29]:
row = {'grammer':'Perl', 'popularity':6.6}
df = df.append(row, ignore_index=True)
df

   popularity grammer
0         1.0  Python
1         2.0       C
2         3.0    Java
3         4.0      GO
4         5.0     NaN
5         6.0     SQL
6         7.0     PHP
7        10.0  Python
8         6.6    Perl

In [30]:
df.sort_values(by='popularity', inplace=True)
df

   popularity grammer
0         1.0  Python
1         2.0       C
2         3.0    Java
3         4.0      GO
4         5.0     NaN
5         6.0     SQL
8         6.6    Perl
6         7.0     PHP
7        10.0  Python

In [33]:
df['grammer'] = df['grammer'].fillna('R')
df['len_str'] = df['grammer'].apply(lambda x:len(x))
df
df['len_str1'] = df['grammer'].map(lambda x:len(x))
df

   popularity grammer  len_str  len_str1
0         1.0  Python        6         6
1         2.0       C        1         1
2         3.0    Java        4         4
3         4.0      GO        2         2
4         5.0       R        1         1
5         6.0     SQL        3         3
8         6.6    Perl        4         4
6         7.0     PHP        3         3
7        10.0  Python        6         6

   popularity grammer  len_str  len_str1
0         1.0  Python        6         6
1         2.0       C        1         1
2         3.0    Java        4         4
3         4.0      GO        2         2
4         5.0       R        1         1
5         6.0     SQL        3         3
8         6.6    Perl        4         4
6         7.0     PHP        3         3
7        10.0  Python        6         6