In [4]:
import pandas as pd
import numpy as np
from IPython import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [5]:
dates = pd.date_range('20210901', periods=6)
dates
type(dates)

DatetimeIndex(['2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04',
               '2021-09-05', '2021-09-06'],
              dtype='datetime64[ns]', freq='D')

pandas.core.indexes.datetimes.DatetimeIndex

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [7]:
df.A
df['A']
df[['A', 'B']]

2021-09-01    0.414074
2021-09-02    1.238019
2021-09-03   -0.249678
2021-09-04   -0.738849
2021-09-05    1.024398
2021-09-06   -1.861419
Freq: D, Name: A, dtype: float64

2021-09-01    0.414074
2021-09-02    1.238019
2021-09-03   -0.249678
2021-09-04   -0.738849
2021-09-05    1.024398
2021-09-06   -1.861419
Freq: D, Name: A, dtype: float64

                   A         B
2021-09-01  0.414074 -1.033254
2021-09-02  1.238019  0.701318
2021-09-03 -0.249678  0.238613
2021-09-04 -0.738849 -0.251834
2021-09-05  1.024398  0.708411
2021-09-06 -1.861419  0.638231

In [8]:
df[:]
df[0:2]

                   A         B         C         D
2021-09-01  0.414074 -1.033254 -0.328527  0.199037
2021-09-02  1.238019  0.701318  0.370100 -0.380227
2021-09-03 -0.249678  0.238613  0.039570 -0.080267
2021-09-04 -0.738849 -0.251834 -0.491212 -0.028208
2021-09-05  1.024398  0.708411 -0.476440  0.483401
2021-09-06 -1.861419  0.638231  0.843215  0.151253

                   A         B         C         D
2021-09-01  0.414074 -1.033254 -0.328527  0.199037
2021-09-02  1.238019  0.701318  0.370100 -0.380227

In [11]:
df['2021-09-01':'2021-09-04']

                   A         B         C         D
2021-09-01  0.414074 -1.033254 -0.328527  0.199037
2021-09-02  1.238019  0.701318  0.370100 -0.380227
2021-09-03 -0.249678  0.238613  0.039570 -0.080267
2021-09-04 -0.738849 -0.251834 -0.491212 -0.028208

In [16]:
df.loc['2021-09-02':'2021-09-04',['C','D']]

                   C         D
2021-09-02  0.370100 -0.380227
2021-09-03  0.039570 -0.080267
2021-09-04 -0.491212 -0.028208

In [18]:
df.loc['2021-09-02','C']
df.at[pd.to_datetime('2021-09-02'),'C']
df.at['2021-09-02','C']

0.3701004698128057

0.3701004698128057

0.3701004698128057

In [19]:
df.iloc[3]
df.iloc[3,0:2]

A   -0.738849
B   -0.251834
C   -0.491212
D   -0.028208
Name: 2021-09-04 00:00:00, dtype: float64

A   -0.738849
B   -0.251834
Name: 2021-09-04 00:00:00, dtype: float64

In [20]:
df.iloc[1,2]
df.iat[1,2]

0.3701004698128057

0.3701004698128057

In [23]:
df[df['B']>0.7]

                   A         B        C         D
2021-09-02  1.238019  0.701318  0.37010 -0.380227
2021-09-05  1.024398  0.708411 -0.47644  0.483401

In [24]:
df[df>1]

                   A   B   C   D
2021-09-01       NaN NaN NaN NaN
2021-09-02  1.238019 NaN NaN NaN
2021-09-03       NaN NaN NaN NaN
2021-09-04       NaN NaN NaN NaN
2021-09-05  1.024398 NaN NaN NaN
2021-09-06       NaN NaN NaN NaN

In [25]:
df2 = df.copy()
df2['E'] = range(1,7)
df2

                   A         B         C         D  E
2021-09-01  0.414074 -1.033254 -0.328527  0.199037  1
2021-09-02  1.238019  0.701318  0.370100 -0.380227  2
2021-09-03 -0.249678  0.238613  0.039570 -0.080267  3
2021-09-04 -0.738849 -0.251834 -0.491212 -0.028208  4
2021-09-05  1.024398  0.708411 -0.476440  0.483401  5
2021-09-06 -1.861419  0.638231  0.843215  0.151253  6

In [27]:
df2[df2['E'].isin([2,3])]

                   A         B        C         D  E
2021-09-02  1.238019  0.701318  0.37010 -0.380227  2
2021-09-03 -0.249678  0.238613  0.03957 -0.080267  3

In [28]:
df.loc['2021-09-01','A'] = 0
df

                   A         B         C         D
2021-09-01  0.000000 -1.033254 -0.328527  0.199037
2021-09-02  1.238019  0.701318  0.370100 -0.380227
2021-09-03 -0.249678  0.238613  0.039570 -0.080267
2021-09-04 -0.738849 -0.251834 -0.491212 -0.028208
2021-09-05  1.024398  0.708411 -0.476440  0.483401
2021-09-06 -1.861419  0.638231  0.843215  0.151253

In [30]:
df.loc[:,'D'] = np.array([7] * (len(df)))
df

                   A         B         C  D
2021-09-01  0.000000 -1.033254 -0.328527  7
2021-09-02  1.238019  0.701318  0.370100  7
2021-09-03 -0.249678  0.238613  0.039570  7
2021-09-04 -0.738849 -0.251834 -0.491212  7
2021-09-05  1.024398  0.708411 -0.476440  7
2021-09-06 -1.861419  0.638231  0.843215  7